{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-2",
        ["es2015", { "modules": false }],
    ],
    "plugins": [
        "transform-runtime",
        "transform-vue-jsx"
    ],
    "comments": false,
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-3"
            ],
            "plugins": [
                "istanbul"
            ]
        }
    }
}
